@import "tailwindcss";
@import "tw-animate-css";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@custom-variant dark (&:is(.dark *));

:root {
  --background: #d6d9de;
  --foreground: #1f1f1f;
  --foreground-light: #6b7280;

  --sidebar-background: #dde2e9;
  --sidebar-menu-hover: #acacac;
  --sidebar-foreground: #b7a5a5;
  --sidebar-foreground-light: #6b7280;

  --font-sans: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans KR", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: var(--foreground);
  background-color: var(--background);
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-sans);
}

body {
  font-family: var(--font-sans);
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: var(--foreground);
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  color: var(--foreground);
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  color: var(--foreground);
  font-size: 1.125rem;
  font-weight: bold;
}

p {
  color: var(--foreground-light);
  font-size: 1.125rem;
  color: var(--foreground-light);
}

a {
  color: var(--foreground-light);
  color: inherit;
  text-decoration: none;
}
